@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #f8f8f8; */
    background: black;
  }
}

@layer components {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .banner-wrapper_text {
    max-width: 60ch;
  }

  .company--box {
    grid-template-rows: 16.9375rem 26.1875rem;
  }

  .mobile-nav {
    transform: translateY(-340px);
    position: fixed;
    inset: 64px 0 0 0;
    transition: transform 500ms ease-in-out 200ms;
  }

  .mobile-nav[data-visible="true"] {
    transform: translateY(0px);
  }

  @media (48em <= width) {
    .mobile-nav {
      transform: translateY(0px);
    }

    .company--box {
      grid-template-columns: 17.0625rem 1fr;
      grid-template-rows: 600px;
    }

    .company--box-even {
      grid-template-rows: 600px;
      grid-template-columns: 1fr 17.0625rem;
    }
  }

  @media (64rem <= width) {
    .company--box {
      grid-template-columns: 1fr 38.125rem;
    }

    .company--box-even {
      grid-template-columns: 38.125rem 1fr;
    }
  }
}
