@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #f8f8f8; */
    background: black;
  }
}

@layer components {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .banner-wrapper_text {
    max-width: 60ch;
  }

  .company--box {
    grid-template-rows: 16.9375rem 26.1875rem;
  }

  .mobile-nav {
    transform: translateY(-340px);
    position: fixed;
    inset: 64px 0 0 0;
    transition: transform 500ms ease-in-out 200ms;
  }

  .mobile-nav[data-visible="true"] {
    transform: translateY(0px);
  }

  .wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .tier:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .wrapper input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .wrapper input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .wrapper .checkmark:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .dashboard {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr; */
  }

  .semi-circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 150px 150px 0 0;
    background-color: green;
  }

  #color-chart {
    background: #000;
  }

  .dashboard-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }

  .paystack-button {
    background-color: #ff5c00;
    font-size: 10px;
  }

  @media (48em <= width) {
    .mobile-nav {
      transform: translateY(0px);
    }

    .company--box {
      grid-template-columns: 17.0625rem 1fr;
      grid-template-rows: 600px;
    }

    .company--box-even {
      grid-template-rows: 600px;
      grid-template-columns: 1fr 17.0625rem;
    }

    .dashboard {
      grid-template-columns: 1fr;
      /* grid-template-rows: 1fr; */
    }
  }

  @media (64rem <= width) {
    .company--box {
      grid-template-columns: 1fr 38.125rem;
    }

    .company--box-even {
      grid-template-columns: 38.125rem 1fr;
    }

    .dashboard {
      grid-template-columns: 16rem 1fr;
      /* grid-template-rows: 1fr; */
    }
  }
}
